<html>

<head>
    <title>TouchInsight</title>
    <link rel="shortcut icon" href="images/icon.png">
</head>

<body>
    <link rel="stylesheet" href="css/style.css" />

    <script src="js/firebase.js"></script>
    <script src="js/touchinsight-firebase.js"></script>
    <script src="js/d3.v3.min.js"></script>
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/jquery.percentageloader.min.js"></script>
    <script src="js/queue.v1.min.js"></script>
    <script src="js/topojson.js"></script>
    <script src="js/topojson.v1.min.js"></script>
    <script src="js/vega.js"></script>
    <script src="js/states.js"></script>
    <script src="js/lasso.js"></script>

    <script src="js/touchinsight-query.js"></script>
    <script src="js/touchinsight-bar.js"></script>
    <script src="js/touchinsight-timechart.js"></script>
    <script src="js/touchinsight-scatterplot.js"></script>
    <script src="js/touchinsight-client.js"></script>

    <div id="content">

    </div>

</body>

</html>